.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(45deg, #2662eb, #c147ae);
  background-size: 400% 400%;
  background-position: 400%;
  animation: animated-gradient 10s ease infinite;

  &__image {
    width: 40rem;
  }

  &__title {
    text-transform: uppercase;
    margin: 0;
    font-size: 7rem;
    color: var(--white);
  }
}

@keyframes animated-gradient {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0;
  }
}
